---
import { Image } from "astro:assets";

const { sliderText } = Astro.props;
---

<div class="overflow-hidden bg-[#1C2C3B] py-6 text-2xl font-semibold uppercase leading-[1.4] tracking-wide text-white">
  <div class="horizontal-slide-from-right-to-left flex gap-x-8 items-center">
    {
      sliderText.map((text: any) => {
        return (
          <>
            <span class="inline-block min-w-[600px] font-['Instrument_Sans']">{text}</span>
            <div class="flex-shrink-0 w-8 h-8 bg-[#f97316] flex items-center justify-center">
              <svg class="w-5 h-5 text-white" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z" clip-rule="evenodd" />
              </svg>
            </div>
          </>
        );
      })
    }
  </div>
</div>

<style>
  .horizontal-slide-from-right-to-left {
    animation: slideFromRightToLeft 30s linear infinite;
  }
  
  @keyframes slideFromRightToLeft {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
</style>
