---
import Price from "../components/Service/Price.astro";
import BreadCumb from "../components/ui/BreadCumb.astro";
import Layout from "../layout/Layout.astro";
---

<Layout 
  title="Finance Broker Fees & Pricing | Transparent Costs QLD"
  description="Transparent commercial finance broker fees and pricing for Queensland businesses. No upfront costs, competitive rates, clear fee structure. Get your finance quote today."
>
  <main class='main-wrapper relative overflow-hidden'>
    <BreadCumb>
      <h1 class='breadcrumb-title'>Pricing</h1>
      <ul class='breadcrumb-nav'>
        <li><a href='/'>Home</a></li>
        <li>Pricing</li>
      </ul>
    </BreadCumb>
    <Price />
  </main>
</Layout>
