---
const title = "Test Page";
---

<html>
<head>
    <title>{title}</title>
</head>
<body>
    <h1>Test Page</h1>
    <p>This is a simple test page to verify Astro is working.</p>
    
    <div>
        <h2>Checkbox Test</h2>
        <input type="checkbox" id="test1" />
        <label for="test1">Test Checkbox 1</label>
        <br/>
        <input type="checkbox" id="test2" />
        <label for="test2">Test Checkbox 2</label>
    </div>
</body>
</html>