---
import { getEntryBySlug } from "astro:content";

const FactsData = await getEntryBySlug("IndexPage", "facts");
const { header, experienceYears, customers, projectsCompleted } =
  FactsData?.data;
---

<section class='section-fact'>
  <div class='z-10 bg-[#121212]'>
    <div class='section-space'>
      <div class='container-default'>
        <div
          class='grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-[0.8fr_minmax(0,_1fr)] xl:gap-20 xxl:gap-[100px]'>
          <div>
            <div class='mb-5'>
              <h2
                class='text-center font-PublicSans text-4xl font-bold leading-[1.14] text-[#FDFBF9] lg:text-left lg:text-5xl xl:text-[56px]'>
                {header}
              </h2>
            </div>
          </div>
          <div class='grid grid-cols-1 gap-y-6 sm:grid-cols-3'>
            <div
              class='relative px-0 text-center after:absolute after:left-full after:top-1/2 after:hidden after:h-10 after:w-0.5 after:-translate-y-1/2 after:bg-ColorLime first:pl-0 last:pr-0 last:after:hidden sm:px-10 sm:after:block'>
              <div>
                <div
                  class='mb-[5px] font-PublicSans text-5xl font-bold leading-[1.14] text-[#FDFBF9] xl:text-[56px]'
                  data-module='countup'>
                  <span class='start-number' data-countup-number='15'>{experienceYears}</span>+
                </div>
                <span class='text-[#FDFBF9]/60'>Years of experience</span>
              </div>
            </div>
            <div
              class='relative px-0 text-center after:absolute after:left-full after:top-1/2 after:hidden after:h-10 after:w-0.5 after:-translate-y-1/2 after:bg-ColorLime first:pl-0 last:pr-0 last:after:hidden sm:px-10 sm:after:block'>
              <div>
                <div
                  class='mb-[5px] font-PublicSans text-5xl font-bold leading-[1.14] text-[#FDFBF9] xl:text-[56px]'
                  data-module='countup'>
                  <span class='start-number' data-countup-number='84'>{customers}</span>K
                </div>
                <span class='text-[#FDFBF9]/60'>Customers worldwide</span>
              </div>
            </div>
            <div
              class='relative px-0 text-center after:absolute after:left-full after:top-1/2 after:hidden after:h-10 after:w-0.5 after:-translate-y-1/2 after:bg-ColorLime first:pl-0 last:pr-0 last:after:hidden sm:px-10 sm:after:block'>
              <div>
                <div
                  class='mb-[5px] font-PublicSans text-5xl font-bold leading-[1.14] text-[#FDFBF9] xl:text-[56px]'
                  data-module='countup'>
                  <span class='start-number' data-countup-number='600'>{projectsCompleted}</span
                  >+
                </div>
                <span class='text-[#FDFBF9]/60'>Project completed</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
