---
import { Image } from "astro:assets";
import { getEntryBySlug } from "astro:content";
const ContentData = await getEntryBySlug("IndexPage", "content-2");
const { header, image, points, description } = ContentData?.data;
---

<div class='grid items-center gap-10 md:grid-cols-2 lg:gap-24 xl:gap-60'>
  <div class='jos' data-jos_animation='fade-left'>
    <div>
      <div class='mb-5'>
        <h2
          class='font-PublicSans text-4xl font-bold leading-[1.14] text-[#121212] lg:text-left lg:text-5xl xl:text-[56px]'>
          {header}
        </h2>
      </div>
    </div>
    <p>
      {description}
    </p>
    <ul class='grid lg:grid-cols-2 flex-col gap-5 font-semibold'>
      {
        points?.map((point: string) => (
          <li class='flex'>
            <Image
              src={"/assets/img/icons/badge.svg"}
              height='20'
              width='20'
              alt='badgeIcon'
              class='w-5 mr-2'
            />
            {point}
          </li>
        ))
      }
    </ul>
  </div>
  <div class='jos relative' data-jos_animation='fade-right'>
    <Image
      src={image}
      alt='content-img-2'
      width='520'
      height='450'
      class='h-auto w-full rounded-[10px]'
    />
    <Image
      src='/assets/img/th-8/content-card-2.png'
      alt='content-card-2'
      width='282'
      height='251'
      class='jos absolute bottom-6 left-0 hidden -translate-x-1/2 xl:inline-block'
      data-jos_animation='fade-up'
      data-jos_delay='0.3'
    />
  </div>
</div>
